html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 22px;
}

button {
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-transparent {
	font-weight: 600;
	line-height: 18px;
	color: $accent-color;
	padding: 14px 45px;
	border-radius: 9px;
	border: 2px solid $accent-color;
	background-color: transparent;
	transition: all .2s;

	&:hover {
		background-color: $accent-color;
		color: #fff;
	}
}

.btn-accent {
	font-weight: 600;
	line-height: 18px;
	color: #fff;
	padding: 14px 45px;
	border-radius: 9px;
	border: 2px solid transparent;
	background-color: $accent-color;
	transition: all .2s;

	&:hover {
		background-color: transparent;
		border: 2px solid $accent-color;
		color: $accent-color;
	}
}

.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 47px;
	text-align: center;
	margin-bottom: 50px;
}

.carousel-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 6%;
	line-height: 0;
}

.carousel-dots::after {
	content: '';
	width: 54px;
	height: 1px;
	background-color: #000;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-left: 90px;
}

.carousel-dots::before {
	content: "scroll";
	display: inline-block;
	position: absolute;
	// bottom: -113px;
	// left: -18px;
	margin-left: 165px;
	font-size: 18px;
	font-weight: 300;
}

.carusel-rtl {
	.carousel-dots {
		left: 67%;
	}
	.carousel-dots::after {
		margin-right: -90px;
	}
	.carousel-dots::before {
		margin-right: -165px;
	}
}

.carousel-dots button {
	font-size: 0px;
	width: 8px;
	height: 8px;
	background-color: #000;
	border: none;
	border-radius: 50%;
	padding: 0;
}

.slick-active button {
	background-color: $accent-color
}




