html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 22px;
}

button {
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 47px;
	text-align: center;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 10px;
}





