$background-1: '../images/background1.webp'; 
$background-2: '../images/background2.webp';
$our-route-background: '../../images/our_routes_background.jpg';
$route-svg: '../images/sprite.svg#route';
$accent-color: #037E8C;

@mixin background-options ($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
