<section class="about">
    <div class="container">
        <ul class="about__list">
            <li class="about__list-item">
                    <img class="about__list-icon" src="../images/sprite.svg#tree" alt="tree">
                <h5 class="about__title">
                    Увлекательные экскурсии
                </h5>
                <p class="about__description">
                    Маршруты от лесных дорожек 
                    до полного бездорожья!
                </p>
            </li>
            <li class="about__list-item">
                <img class="about__list-icon" src="../images/sprite.svg#motorbike" alt="motorbike">
                <h5 class="about__title">
                    Надежная техника
                </h5>
                <p class="about__description">
                    18 квадроциклов всех японских брендов
                </p>
            </li>
            <li class="about__list-item">
                <img class="about__list-icon" src="../images/sprite.svg#helmet" alt="helmet">
                <h5 class="about__title">
                    Экипировка бесплатно
                </h5>
                <p class="about__description">
                    Необходимая экипировка
                    выдается бесплатно
                </p>
            </li>
            <li class="about__list-item">
                <img class="about__list-icon" src="../images/sprite.svg#instructor" alt="instructor">
                <h5 class="about__title">
                    Опытные инструктора
                </h5>
                <p class="about__description">
                    Обеспечат полную безопасность Вашего отдыха
                </p>
            </li>
        </ul>
    </div>
</section>