<section class="our-routes">
    <div class="container">
        <h2 class="title">Наши маршруты</h2>
        <div class="our-routes__inner">
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">БАЗОВЫЙ</h3>
                    <p class="our-routes__price">4000</p>
                    <dl class="our-routes__description">
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#watch" alt="watch">
                            Время в пути
                        </dt>
                        <dd class="our-routes__description-definition">1,5 - 2 часа</dd>
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#star" alt="star">
                            Расстояние
                        </dt>
                        <dd class="our-routes__description-definition">20 - 25 км</dd>
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#mark" alt="mark">
                            Сложность
                        </dt>
                        <dd class="our-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Смотровая - Родник - Камень Джигита - Адербиевка - Гора Нексис - 
                        -Грозовые Ворота - Шашлыки - Цыгельский водопад (чаша любви) -
                        -Форсаж
                    </p>
                    <div class="our-routes__buttons">
                        <button class="btn-transparent">Подробнее</button>
                        <button class="btn-accent">Забронировать</button>
                    </div>

                </div>
                <div class="our-routes__carusel-inner">
                    <div class="our-routes__carusel">
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_1.avif" type="image/avif">
                                <source srcset="../images/base_route_1.webp" type="image/webp">
                                <source srcset="../images/base_route_1.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_2.avif" type="image/avif">
                                <source srcset="../images/base_route_2.webp" type="image/webp">
                                <source srcset="../images/base_route_2.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_3.avif" type="image/avif">
                                <source srcset="../images/base_route_3.webp" type="image/webp">
                                <source srcset="../images/base_route_3.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">РАСШИРЕННЫЙ</h3>
                    <p class="our-routes__price">16000</p>
                    <dl class="our-routes__description">
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#watch" alt="watch">
                            Время в пути
                        </dt>
                        <dd class="our-routes__description-definition">6 - 8 часов</dd>
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#star" alt="star">
                            Расстояние
                        </dt>
                        <dd class="our-routes__description-definition">60 - 70 км</dd>
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#mark" alt="mark">
                            Сложность
                        </dt>
                        <dd class="our-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Смотровая - Родник - Камень Джигита - Адербиевка - Гора Нексис - 
                        -Грозовые Ворота - Шашлыки - Цыгельский водопад (чаша любви) -
                        -Форсаж
                    </p>
                    <div class="our-routes__buttons">
                        <button class="btn-transparent">Подробнее</button>
                        <button class="btn-accent">Забронировать</button>
                    </div>

                </div>
                <div class="our-routes__carusel-inner">
                    <div class="our-routes__carusel">
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_1.avif" type="image/avif">
                                <source srcset="../images/base_route_1.webp" type="image/webp">
                                <source srcset="../images/base_route_1.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_2.avif" type="image/avif">
                                <source srcset="../images/base_route_2.webp" type="image/webp">
                                <source srcset="../images/base_route_2.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_3.avif" type="image/avif">
                                <source srcset="../images/base_route_3.webp" type="image/webp">
                                <source srcset="../images/base_route_3.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">Experience</h3>
                    <p class="our-routes__price">7000</p>
                    <dl class="our-routes__description">
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#watch" alt="watch">
                            Время в пути
                        </dt>
                        <dd class="our-routes__description-definition">4 часа</dd>
                    <dl class="our-routes__description">
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#star" alt="star">
                            Расстояние
                        </dt>
                        <dd class="our-routes__description-definition">40 - 50 км</dd>
                    <dl class="our-routes__description">
                        <dt class="our-routes__description-term">
                            <img class="our-routes__description-icon" src="../images/sprite.svg#mark" alt="mark">
                            Сложность
                        </dt>
                        <dd class="our-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Форсаж - Голубая бухта – Заброшенная Тур База – Сухо sdfdsfгруз Рио –
                        Форсаж
                    </p>
                    <div class="our-routes__buttons">
                        <button class="btn-transparent">Подробнее</button>
                        <button class="btn-accent">Забронировать</button>
                    </div>
                </div>
                <div class="our-routes__carusel-inner">
                    <div class="our-routes__carusel">
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_1.avif" type="image/avif">
                                <source srcset="../images/base_route_1.webp" type="image/webp">
                                <source srcset="../images/base_route_1.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_2.avif" type="image/avif">
                                <source srcset="../images/base_route_2.webp" type="image/webp">
                                <source srcset="../images/base_route_2.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                        <div class="our-routes__carusel-item">
                            <picture>
                                <source srcset="../images/base_route_3.avif" type="image/avif">
                                <source srcset="../images/base_route_3.webp" type="image/webp">
                                <source srcset="../images/base_route_3.jpg">
                                <img class="our-routes__carusel-img" src="" alt="photo">
                            </picture>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>