<section class="our-routes">
    <div class="container">
        <h2 class="title">Наши маршруты</h2>
        <div class="our-routes__inner">
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">БАЗОВЫЙ</h3>
                    <p class="our-routes__price">от 4000 </p>
                    <dl class="our-routes__description">
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Время в пути
                        </dt>
                        <dd class="out-routes__description-definition">1,5 - 2 часа</dd>
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Расстояние
                        </dt>
                        <dd class="out-routes__description-definition">20 - 25 км</dd>
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Сложность
                        </dt>
                        <dd class="out-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Смотровая - Родник - Камень Джигита - Адербиевка - Гора Нексис - 
                        -Грозовые Ворота - Шашлыки - Цыгельский водопад (чаша любви) -
                        -Форсаж
                    </p>
                    <div class="our__routes__buttons">
                        <button class="btn__transparent">Подробнее</button>
                        <button class="btn__accent">Забронировать</button>
                    </div>

                </div>
                <div class="our-routes__carusel"></div>
            </div>
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">РАСШИРЕННЫЙ</h3>
                    <p class="our-routes__price">от 16000</p>
                    <dl class="our-routes__description">
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Время в пути
                        </dt>
                        <dd class="out-routes__description-definition">6 - 8 часов</dd>
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Расстояние
                        </dt>
                        <dd class="out-routes__description-definition">60 - 70 км</dd>
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Сложность
                        </dt>
                        <dd class="out-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Смотровая - Родник - Камень Джигита - Адербиевка - Гора Нексис - 
                        -Грозовые Ворота - Шашлыки - Цыгельский водопад (чаша любви) -
                        -Форсаж
                    </p>
                    <div class="our__routes__buttons">
                        <button class="btn__transparent">Подробнее</button>
                        <button class="btn__accent">Забронировать</button>
                    </div>

                </div>
                <div class="our-routes__carusel"></div>
            </div>
            <div class="our-routes__item">
                <div class="our-routes__content">
                    <h3 class="our-routes__title">Experience</h3>
                    <p class="our-routes__price">от 7000</p>
                    <dl class="our-routes__description">
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Время в пути
                        </dt>
                        <dd class="out-routes__description-definition">4 часа</dd>
                    <dl class="our-routes__description">
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Расстояние
                        </dt>
                        <dd class="out-routes__description-definition">40 - 50 км</dd>
                    <dl class="our-routes__description">
                        <dt class="out-routes__description-term">
                            <img class="out-routes__description-icon" src="" alt="">
                            Сложность
                        </dt>
                        <dd class="out-routes__description-definition">5***</dd>
                    </dl>
                    <h6 class="our-routes__route-title">Маршрут</h6>
                    <p class="our-routes__route-line">
                        Форсаж - Голубая бухта – Заброшенная Тур База – Сухогруз Рио –
                        - Форсаж
                    </p>
                    <div class="our__routes__buttons">
                        <button class="btn__transparent">Подробнее</button>
                        <button class="btn__accent">Забронировать</button>
                    </div>

                </div>
                <div class="our-routes__carusel"></div>
            </div>
        </div>
    </div>
</section>