<section class="photo-gallery">
    <div class="container">
        <h2 class="title">Фото</h2>
        <div class="photo-gallery__carusel-inner">
            <div class="photo-gallery__carusel">
                <div class="photo-gallery__carousel-item">
                    <picture>
                        <source srcset="../images/gallery-1.avif" type="image/avif">
                        <source srcset="../images/gallery-1.webp" type="image/webp">
                        <source srcset="../images/gallery-1.png" type="image/png">
                        <img class="photo-gallery__carousel-img" src="" alt="photo">
                    </picture>
                </div>
                <div class="photo-gallery__carousel-item">
                    <picture>
                        <source srcset="../images/gallery-2.avif" type="image/avif">
                        <source srcset="../images/gallery-2.webp" type="image/webp">
                        <source srcset="../images/gallery-2.png" type="image/png">
                        <img src="" alt="photo">
                    </picture>
                </div>
                <div class="photo-gallery__carousel-item">
                    <picture>
                        <source srcset="../images/gallery-3.avif" type="image/avif">
                        <source srcset="../images/gallery-3.webp" type="image/webp">
                        <source srcset="../images/gallery-3.png" type="image/png">
                        <img src="" alt="photo">
                    </picture>
                </div>
                <div class="photo-gallery__carousel-item">
                    <picture>
                        <source srcset="../images/gallery-1.avif" type="image/avif">
                        <source srcset="../images/gallery-1.webp" type="image/webp">
                        <source srcset="../images/gallery-1.png" type="image/png">
                        <img src="" alt="photo">
                    </picture>
                </div>
                <div class="photo-gallery__carousel-item">
                    <picture>
                        <source srcset="../images/gallery-2.avif" type="image/avif">
                        <source srcset="../images/gallery-2.webp" type="image/webp">
                        <source srcset="../images/gallery-2.png" type="image/png">
                        <img src="" alt="photo">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>