.header {
    height: 120vh;
    position: relative;
    color: #fff;
    margin-bottom: 47px;
    
    &__top {
        position: relative;
        z-index: 10;
        width: 100%;
        padding-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 108px;
    }

    &__menu {
        display: flex;
        padding-top: 27px;
    }

    &__menu-list {
        display: flex;
    }

    &__menu-list-item{
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__menu-list-item + .header__menu-list-item {
        margin-left: 50px;
    }

    &__contacts {
        margin-left: 58px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone-link {
        display: flex;
        align-items: center;
        margin-bottom: 11px;
    }

    &__phone-text {
        font-size: 20px;
        font-weight: 600;
        margin-left: 13px;
    }

    &__contacts-btn {
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        color: #fff;
        padding: 12px 20px;
        background-color: #FFFFFF66;
        border: none;
        border-radius: 9px;
    }

    &__content {
        position: relative;
        width: 50%;
        z-index: 100;
    }

    &__title {
        font-size: 70px;
        font-weight: 800;
        line-height: 88px;
        margin-bottom: 37px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 82px;
    }

    &__carusel-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &__carusel-item-1 { 
        @include background-options($background-1);
        height: 120vh
    }

    &__carusel-item-2 { 
        @include background-options($background-2);
        height: 120vh;
    }
    
}

.logo__img {
    width: 111px;
    height: 142px;
}

.svg-phone-dims {
    width: 17px;
    height: 17px;
}

.header-content__btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #fff;
    background-color: $accent-color;
    padding: 12px 23px;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;

    &-icon {
        width: 31px;
        height: 31px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.svg-arrow_right-dims {
    width: 14px;
    height: 10px;
}

.header__carusel {
    position: relative;

    .slick-dots {
        position: absolute;
        top: 38%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 6%;
    }

    .slick-dots::after {
        content: '';
        width: 1px;
        height: 54px;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        bottom: -68px;
    }

    .slick-dots::before {
        content: "scroll";
        display: inline-block;
        transform: rotate(90deg);
        position: absolute;
        bottom: -113px;
        left: -18px;
        font-size: 18px;
        font-weight: 300;
    }

    .slick-dots button {
        font-size: 0px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        padding: 0;
    }

    .slick-active button {
        background-color: $accent-color
    }
}





