.our-routes {
    padding: 57px 0 114px 0;
    @include background-options($our-route-background);

    &__inner {
    }

    &__item {
        display: flex;
        justify-content: space-between;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__item + .our-routes__item {
        margin-top: 145px;
    }

    &__content {
        width: 45%;
        padding: 0 10px 0 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 36px;
        font-weight: 600;
        line-height: 39px;
        text-transform: uppercase;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
        &::before {
            content: '';
            width: 81px;
            height: 4px;
            display: block;
            position: absolute;
            top: 50%;
            left: -110px;
            background-color: $accent-color;
        }
    }

    &__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 32px;

        &::before {
            content: 'от';
            margin-right: 8px;
        }

        &::after {
            content: '₽';
            margin-left: 8px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 27px;
    }

    &__description-term {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        float: left;
        &::after {
            content: ':\a0';
        }
    }

    &__description-icon {
        width: 14px;
        height: 14px;
        margin-right: 17px;
    }

    &__description-definition {
        font-weight: 600;
        margin-bottom: 9px;
    }

    &__route-title {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: baseline;
        margin-bottom: 13px;
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            display: block;
            margin-left: 15px;
            @include background-options($route-svg)
        }
    }

    &__route-line {
        margin-bottom: 40px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    
}

.our-routes {
    &__carusel-inner {
        width: 50%;
        position: relative;
    }

    &__carusel-item {
        border-radius: 10px;
        display: block !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 250px !important;
        height: 300px;
        transition: all .4s;
    }

    .base_route-1 {
        background-image: url(../../images/base_route_1.webp);
    }
    .base_route-2 {
        background-image: url(../../images/base_route_2.webp);
    }
    .base_route-3 {
        background-image: url(../../images/base_route_3.webp);
    }
    .extended_route-1 {
        background-image: url(../../images/extended_route_1.webp);
    }
    .extended_route-2 {
        background-image: url(../../images/extended_route_2.webp);
    }
    .extended_route-3 {
        background-image: url(../../images/extended_route_3.webp);
    }
    .experience_route-1 {
        background-image: url(../../images/experience_route_1.webp);
    }
    .experience_route-2 {
        background-image: url(../../images/experience_route_2.webp);
    }
    .experience_route-3 {
        background-image: url(../../images/experience_route_3.webp);
    }

    // &__carusel-img {
    //     width: 250px;
    //     height: 300px;
    //     border-radius: 10px;
    //     transition: all .4s;
    // }

    .slick-slider{
        position: static;
    }

    .slick-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 360px;
        width: max-content;
        margin-right: 25px;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-active {
        width: max-content;
        height: max-content;
        
        .our-routes__carusel-item {
            width: 360px !important;
            height: 360px;
            
        }
    }
}